.header{
    height: 90px;
    background-color: black;
    
}
.header div div img{
    margin-top: 5px;
}
.top{
    color: goldenrod;
    display: flex;
    align-items: center;
}

.foot{
    background-color: white;
    color: black;
   
}
.ft{
    background-color: black;
    color: white;
}
.fs{
    margin-right: 550px;
}
@media (max-width:810px) {
    .nav-font{
        font-size: 15px;
    }
}
@media (max-width:780px) {
    .nav-font{
        font-size: 12px;
    }
}
@media (max-width:500px) {
    .header{
        height: 90px;
        background-color: black;
        
    }
}
    
@media (min-width:1000px) {
    
    .fs{
        margin-left: 550px;
    }
}
@media (min-width: 450px){
    .nav-font{
    font-size: 12px;
}
}


